{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>modifier groupe</h1>
        {{ form(edit_form) }}        
    </div>
</div>

{% endblock %}
